
.sidebar_header {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}

.sidebar_header__search_btn {
    width: 160px;
    height: 40px;
    background: var(--color-grey);
    color: var(--text-light);
    border: none;
    cursor: pointer;    
    box-shadow: var(--shadow1);    
    font-size: 1rem;
    font-weight: 500;
}

.sidebar_header__location_btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: var(--color-grey);
    color: var(--text-light);
    box-shadow: var(--shadow1);
    cursor: pointer;    
}