.todays_highlights {
    width: 100%;
    margin-top: 50px;
    padding: 0px 10px;
}

.todays_highlights > h1 {
    color: var(--text-light);

}

.todays_highlights__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}


.todays_highlights__content > div {
    display: flex;
    flex-direction: column;      
}

.todays_highlights__content__item {
    width: 48%;    
    min-width: 300px;
    margin: 1%;
    min-height: 200px;
    background: var(--sidebar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-light);
    padding: 0px 50px;
}

@media screen and (max-width: 800px) {
    .todays_highlights__content > div {
        flex-basis: auto;
    }
    .todays_highlights__content__item {        
        
        width: 100%;
    }
    
}



.todays_highlights__content__item > .top {
    font-size: 1.5rem;
    font-weight: 500;
    flex:1.5;
    display: flex;
    align-items: center;
}
.todays_highlights__content__item > .middle {
    flex: 2;
    display: flex;
    align-items: center;
    font-size: 4rem;
}

.todays_highlights__content__item > .middle > .main-text {
    font-weight: 700;
}
.todays_highlights__content__item > .middle > .secondary-text {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 20px;
}


.todays_highlights__content__item > .bottom {
    flex: 2;
    display: flex;    
    align-items: center;
    justify-content: center;
    width: 100%;
}

.todays_highlights__content__item__progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    position: relative;
}

.todays_highlights__content__item__progress::-webkit-progress-bar {
    background-color: #fff;
    height: 8px;
    border-radius: 4px;
}

.todays_highlights__content__item__progress::-webkit-progress-value {
    background-color: #FFEC65;
    border-radius: 4px;
}

.todays_highlights__content__item__progress__scale {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}